{% extends 'base.html' %}
{% block content %}
<h4>{% block title %} Добавление нового типа прав {% endblock %}</h4>
<br>
<form method="post" class="card p-3 mb-2 border-primary" style="max-width: 35rem;">
    <div class="row mb-3">
        <label for="number-date" class=" col-form-label">Наименование</label>
        <input type="text" class="form-control" name="name_access_right" value="{{ request.form['name_access_right'] }}" placeholder="наименование типа прав">
    </div>
     <div class="row mb-3">
        <label for="number-date" class="col-form-label">Описание </label>
        <input type="text" class="form-control" name="description_rights" value="{{ request.form['description_rights'] }}" placeholder="описание типа прав">
    </div>

    <button type="submit" class="btn btn-primary w-50"><i class="bi-file-earmark-binary"></i> Добавить тип прав </button>
</form>

{% endblock %}